<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>
AlertaMonTransporte
    </display-name>
    <welcome-file-list>
        <welcome-file>
index.html
        </welcome-file>
        <welcome-file>
index.htm
        </welcome-file>
        <welcome-file>
index.jsp
        </welcome-file>
        <welcome-file>
default.html
        </welcome-file>
        <welcome-file>
default.htm
        </welcome-file>
        <welcome-file>
default.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <description>
        </description>
        <display-name>
GestionAlquiler
        </display-name>
        <servlet-name>
GestionAlquiler
        </servlet-name>
        <servlet-class>
powerdev.servlet.GestionAlquiler
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
GestionAlquiler
        </servlet-name>
        <url-pattern>
/GestionAlquiler
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
ListarLocal
        </display-name>
        <servlet-name>
ListarLocal
        </servlet-name>
        <servlet-class>
powerdev.servlet.ListarLocal
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
ListarLocal
        </servlet-name>
        <url-pattern>
/ListarLocal
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
RegistraPublicidad
        </display-name>
        <servlet-name>
RegistraPublicidad
        </servlet-name>
        <servlet-class>
powerdev.servlet.RegistraPublicidad
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
RegistraPublicidad
        </servlet-name>
        <url-pattern>
/RegistraPublicidad
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
LoginServlet
        </display-name>
        <servlet-name>
LoginServlet
        </servlet-name>
        <servlet-class>
powerdsd.servlet.LoginServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
LoginServlet
        </servlet-name>
        <url-pattern>
/LoginServlet
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
LogoutServlet
        </display-name>
        <servlet-name>
LogoutServlet
        </servlet-name>
        <servlet-class>
powerdsd.servlet.LogoutServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
LogoutServlet
        </servlet-name>
        <url-pattern>
/LogoutServlet
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
PortadaServlet
        </display-name>
        <servlet-name>
PortadaServlet
        </servlet-name>
        <servlet-class>
powerdsd.servlet.PortadaServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
PortadaServlet
        </servlet-name>
        <url-pattern>
/PortadaServlet
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
RegistrarEvento
        </display-name>
        <servlet-name>
RegistrarEvento
        </servlet-name>
        <servlet-class>
powerdev.servlet.RegistrarEvento
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
RegistrarEvento
        </servlet-name>
        <url-pattern>
/RegistrarEvento
        </url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jms/myQueueFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <message-destination-ref>
        <message-destination-ref-name>jms/myQueue</message-destination-ref-name>
        <message-destination-type>javax.jms.Queue</message-destination-type>
        <message-destination-usage>Produces</message-destination-usage>
        <message-destination-link>jms/myQueue</message-destination-link>
    </message-destination-ref>
</web-app>
